.header
{
	display: flex;

	gap: 15px;

	padding: 5px 0 5px 0;

	border-bottom: 1px solid lightgray;

	justify-content: space-around;
}

.header__title
{
	margin-right: 50px;
}

.header__pages
{
	display: flex;
}

.header__title h1 > a,
.nav__link a
{
	color: var(--title);
	text-decoration: none;
}

.nav
{
	display: flex;

	align-items: center;
}

.nav ul
{
	display: flex;

	gap: 30px;

	padding-left: 0;

	list-style: none;
}

.nav__link a:hover
{
	text-decoration: underline;
}

.search
{
	display: flex;

	align-items: center;
}

.search input
{
	height: 30px;
	width: 300px;

	margin-bottom: 0;
	padding: 15px;

	background-color: whitesmoke;

	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}

.search button
{
	display: flex;

	height: 32px;

	margin-bottom: 0;

	background-color: whitesmoke;

	cursor: pointer;

	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid lightgrey;
	border-left: none;

	align-items: center;
}

.search button > svg
{
	height: 2em;
	width: 2em;

	fill: grey;
}

.s-connect
{
	display: flex;

	gap: 30px;

	align-items: center;
}

.s-connect .btn
{
	margin-bottom: 0;
	padding: 10px 20px 10px 20px;

	font-weight: 600;

	border-radius: 10px;
}
