/* Colors */
:root
{
	--background: #F5F5F5;

	font-family: Arial, Helvetica, sans-serif;

	letter-spacing: .02em;

	--primary: black;
	--secondary: navy;
	--title: black;  /* Contrast : 19.26 (Super)    */
	--text: #535353; /* Contrast : 7.06 (Very good) */
	--shadow: lightgrey;
}

/* Basic classes */
/* Container */
.container
{
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 15px 10px 10px 15px;
}

/* Margins */
.v-margin-5
{
	margin-top: 5px;
	margin-bottom: 5px;
}

.v-margin-10
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.v-margin-15
{
	margin-top: 15px;
	margin-bottom: 15px;
}

.v-margin-20
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.v-margin-25
{
	margin-top: 25px;
	margin-bottom: 25px;
}

.v-margin-30
{
	margin-top: 30px;
	margin-bottom: 30px;
}

.v-margin-50
{
	margin-top: 50px;
	margin-bottom: 50px;
}

.v-margin-100
{
	margin-top: 10px;
	margin-bottom: 100px;
}

.h-margin-5
{
	margin-top: 5px;
	margin-right: 5px;
}

.h-margin-10
{
	margin-right: 10px;
	margin-left: 10px;
}

.h-margin-15
{
	margin-right: 15px;
	margin-left: 15px;
}

.h-margin-20
{
	margin-right: 20px;
	margin-left: 20px;
}

.h-margin-25
{
	margin-right: 25px;
	margin-left: 25px;
}

.h-margin-30
{
	margin-right: 30px;
	margin-left: 30px;
}

.h-margin-50
{
	margin-right: 50px;
	margin-left: 50px;
}

.h-margin-100
{
	margin-right: 100px;
	margin-left: 100px;
}

.margin-bottom-15
{
	margin-bottom: 15px;
}

.margin-bottom-30
{
	margin-bottom: 30px;
}

/* Padding */
.padding-5
{
	padding: 5px;
}

.padding-10
{
	padding: 10px;
}

.padding-15
{
	padding: 15px;
}

.padding-20
{
	padding: 20px;
}

.padding-25
{
	padding: 25px;
}

.padding-30
{
	padding: 30px;
}

/* Text */
.bold
{
	font-weight: 600;
}

h1
{
	font-size: 32px;
}

h2
{
	font-size: 28px;
}

h3
{
	font-size: 24px;
}

h4
{
	font-size: 18px;
}

h5
{
	font-size: 16px;
}

p
{
	font-size: 14px;
}

/* Grid */
.grid
{
	display: grid;
}

/* Columns */
.two-col
{
	grid-template-columns: 1fr 1fr;
}
.three-col
{
	grid-template-columns: 1fr 1fr 1fr;
}
.four-col
{
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Flex */
.flex
{
	display: flex;
}

/* Gaps */
.gap-5
{
	gap: 5px;
}

.gap-10
{
	gap: 10px;
}

.gap-15
{
	gap: 15px;
}

.gap-20
{
	gap: 20px;
}

.gap-25
{
	gap: 25px;
}

.gap-30
{
	gap: 30px;
}

.gap-50
{
	gap: 50px;
}

.gap-100
{
	gap: 100px;
}

/* Flex directions */
.row
{
	flex-direction: row;
}

.row-reverse
{
	flex-direction: row-reverse;
}

.column
{
	flex-direction: column;
}

.column-reverse
{
	flex-direction: column-reverse;
}

/* Centering */
.full-center
{
	justify-content: center;
	align-items: center;
}

.centered-items
{
	align-items: center;
}

/* Adding space */
.h-space-around
{
	justify-content: space-around;
}

.v-space-around
{
	align-items: space-around;
}

.h-space-between
{
	justify-content: space-between;
}

.v-space-between
{
	align-items: space-between;
}

.h-space-evenly
{
	justify-content: space-evenly;
}

.v-space-between
{
	align-items: space-evenly;
}

/* Align to end */
.h-flex-end
{
	justify-content: flex-end;
}

/* Text align */
.text-align-left
{
	text-align: left;
}

.text-align-right
{
	text-align: right;
}

.text-align-center
{
	text-align: center;
}

.text-align-justify
{
	text-align: justify;
}

/* Text decorations */
.underline
{
	text-decoration: underline;
}

/* 100% */
.full-height
{
	height: 100%;
	width: auto;
}

.full-width
{
	height: auto;
	width: 100%;
}

/* 50% */
.half-height
{
	height: 50%;
	width: auto;
}

.half-width
{
	height: auto;
	width: 50%;
}

/* 1/3 */
.third-height
{
	height: 33%;
	width: auto;
}

.third-width
{
	height: 33%;
	width: 50%;
}

/* Depends on content */
.width-fit
{
	width: fit-content;
}

.height-fit
{
	height: fit-content;
}

.min-width
{
	width: min-content;
}

/* Icon */
svg
{
	height: 30px;
	width: auto;
}

/* Lists */
.list-no-style
{
	list-style: none;
}

.list-circle-style
{
	list-style: circle;
}

.list-dash-style
{
	padding-left: 1em;

	list-style: none;
}

.list-dash-style > li:before
{
	display: inline-block;

	width: 1em;

	content: "-";
}
