/* Template
*************************
.name
{
	background-color: #;

	color: #; 

	border: 1px solid #;

}

.name svg
{
	fill: #;

*************************
*/

.message-box
{
	display: flex;

	gap: 5px;

	margin-bottom: 15px;
	padding: 10px;

	font-weight: 500;

	border-radius: 10px;

	box-shadow: 5px 5px 5px var(--shadow);

	align-items: center;
}

.warning
{
	background-color: #FFDDC8;

	color: #762B00; /* Contrast : 7.76 (Very good) */

	border: 1px solid #DAB299;
}

.warning svg
{
	fill: #652500;
}

.error
{
	background-color: #FFD5D5;

	color: #870000; /* Contrast : 7.75 (Very good) */

	border: 1px solid #C99696;
}

.error svg
{
	fill: #870000;
}

.info
{
	background-color: #FFFCCD;

	color: #585200; /* Contrast : 7.65 (Very good) */

	border: 1px solid #D8D49C;
}

.info svg
{
	fill: #585200;
}

.success
{
	background-color: #D4FFDE;

	color: #005A15;  /* Contrast : 7.75 (Very good) */

	border: 1px solid #8CE0A0;
}

.success svg
{
	fill: #005A15;
}
