<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vertical timeline</title>
	<link href="../../css/main.css" rel="main stylesheet" />
	<link href="../../css/timelines.css" rel="timelines stylesheet" />
</head>
<body>
	<h1>Vertical timeline</h1>
	<div class="v-timeline">
		<div class="v-timeline__container left">
			<div>
				<h2 class="v-timeline__title">2024</h2>
				<p>The year 2024 was a messy one.</p>
			</div>
		</div>
		<div class="v-timeline__container right">
			<div>
				<h2 class="v-timeline__title">2023</h2>
				<p>Can't remember much from it.</p>
			</div>
		</div>
		<div class="v-timeline__container left">
			<div>
				<h2 class="v-timeline__title">2022</h2>
				<p>A weird year.</p>
			</div>
		</div>
		<div class="v-timeline__container right">
			<div">
				<h2 class="v-timeline__title">2021</h2>
				<p>A messy year because of COVID.</p>
			</div>
		</div>
	</div>
</body>
</html>