<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Product card</title>
	<link href="../../../css/main.css" rel="main stylesheet" />
	<link href="../../../css/cards.css" rel="cards stylesheet" />
	<link href="../../../css/buttons-links.css" rel="btn stylesheet" />
</head>
<body>
	<div class="container">
		<h1>Product card</h1>
		<div class="v-product-card margin-bottom-30">
			<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500">
    			<rect width="100%" height="100%" fill="#DDDDDD"/>
			</svg>
			<div class="margin-bottom-30">
				<p class="product-card__title">Product name</p>
			</div>
			<div class="product-card__infos">
				<p class="product-card__price">Price</p>
				<button type="button" class="btn cta-btn">Add to cart</button>
			</div>
		</div>
		<div class="h-product-card">
			<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500">
    			<rect width="100%" height="100%" fill="#DDDDDD"/>
			</svg>
			<div class="h-product-card__details">
				<div class="margin-bottom-30">
					<p class="product-card__title">Product name</p>
				</div>
				<div class="product-card__infos">
					<p class="product-card__price">Price</p>
					<button type="button" class="btn cta-btn">Add to cart</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>