<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Product card</title>
	<link href="../../../css/main.css" rel="main stylesheet" />
	<link href="../../../css/cards.css" rel="cards stylesheet" />
	<link href="../../../css/buttons-links.css" rel="btn stylesheet" />
	<link href="../../../css/inputs.css" rel="input stylesheet" />
</head>
<body>
	<div class="container">
		<h1>Product card in the cart</h1>
		<div class="v-product-card">
			<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500">
    			<rect width="100%" height="100%" fill="#DDDDDD"/>
			</svg>
			<div class="v-product-card__details">
				<div class="product-card__cart--infos">
					<p class="product-card__title">Product name</p>
					<p class="product-card__price">Price</p>
				</div>
				<div class="product-card__infos from-cart">
					<div class="product-card__cart--quantity">
						<button type="button" class="btn normal-btn">-</button>
						<input type="text" name="" id="" value="1" />
						<button type="button" class="btn normal-btn">+</button>
					</div>
					<button type="button" class="btn normal-btn">Remove from cart</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>