<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact</title>
	<link href="../../../css/main.css" rel="main stylesheet" />
	<link href="../../../css/inputs.css" rel="inputs stylesheet" />
	<link href="../../../css/buttons-links.css" rel="button stylesheet" />
	<link href="../../../css/signup.css" rel="signup stylesheet" />
</head>
<body>
	<div class="container width-fit">
		<h1>Contact us!</h1>
		<div class="signup__container">
			<div class="full-width margin-bottom-30">
				<label for="first-name">First name</label>
				<div>
					<input type="text" id="first-name" />
				</div>
				<label for="last-name">Last name</label>
				<div>
					<input type="text" id="last-name" />
				</div>
				<label for="email">Email</label>
				<div>
					<input type="email" id="email" />
				</div>
				<label for="subject">Subject</label>
				<div>
					<input type="text" id="subject" />
				</div>
				<label for="message">Message</label>
				<div>
					<textarea type="password" id="message"></textarea>
				</div>
			</div>
			<button type="button" class="btn cta-btn full-width">Send</button>
		</div>
	</div>
</body>
</html>