<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link href="../../../css/main.css" rel="main stylesheet" />
	<link href="../../../css/inputs.css" rel="inputs stylesheet" />
	<link href="../../../css/buttons-links.css" rel="button stylesheet" />
	<link href="../../../css/login.css" rel="login stylesheet" />
</head>
<body>
	<div class="container width-fit">
		<h1>Login form</h1>
		<div class="login__container">
			<div class="login__info">
				<label for="email">Login</label>
				<div>
					<input type="email" id="email" />
				</div>
			</div>
			<div class="login__info margin-bottom-30">
				<label for="pwd">Password</label>
				<div>
					<input type="password" id="pwd" />
				</div>
				<div class="login__password--actions">
					<div class="login__remember">
						<label for="remember">Remember me</label>
						<input type="checkbox" name="remember" id="remember">
					</div>
					<a href="#">Forgot password?</a>
				</div>
			</div>
			<button type="button" class="btn cta-btn login-btn">Log in</button>
			<p>Don't have an account? <a href="#" class="login__links">Register</a></p>
		</div>
	</div>
</body>
</html>