<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign up</title>
	<link href="../../../css/main.css" rel="main stylesheet" />
	<link href="../../../css/inputs.css" rel="inputs stylesheet" />
	<link href="../../../css/buttons-links.css" rel="button stylesheet" />
	<link href="../../../css/signup.css" rel="signup stylesheet" />
</head>
<body>
	<div class="container width-fit">
		<h1>Sign up form</h1>
		<div class="signup__container">
			<div class="full-width">
				<label for="first-name">First name</label>
				<div>
					<input type="text" id="first-name" />
				</div>
				<label for="last-name">Last name</label>
				<div>
					<input type="text" id="last-name" />
				</div>
				<label for="email">Email</label>
				<div>
					<input type="email" id="email" />
				</div>
				<label for="pwd">Password</label>
				<div>
					<input type="password" id="pwd" />
				</div>
				<label for="confirm-pwd">Confirm password</label>
				<div>
					<input type="password" id="confirm-pwd" />
				</div>
			</div>
			<button type="button" class="btn cta-btn full-width">Sign up</button>
			<p class="margin-bottom-30">
				By creating an account, you accept the company's <a href="#" class="underline">Terms of Use</a> and <a href="#" class="underline">Privacy Policy</a>.
			</p>
			<p>Already have an account? <a href="#" class="underline">Log in</a></p>
		</div>
	</div>
</body>
</html>